doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Update Film
  // JQuery //
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  // Bootstrap 4.4.1 //
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

  

// My CSS //
link(rel='stylesheet' href='/style2.css')

// NavBar //
include navbar

h1 Update Film


// Carousel //
.carousel-backing(style = 'width: 1500px; height: 700px; margin: 0 auto; position:relative; top:80px;')
  #carouselExampleControls.carousel.slide(data-ride='carousel' style ='width: 550px; height: 550px; margin: 0 auto')
      .carousel-inner
        - let values = listedFilms.content
            each val, index in values ? values : ['There are no values']
              if(index === 0)
                .carousel-item.active
                  h2= JSON.stringify(val.title)
                  h3='Created by ' + JSON.stringify(val.creator) + '('+ JSON.stringify(val.year) +')'
                  h3= 'game ID: ' + JSON.stringify(val.id)
                  img.d-block.w-100(src=val.url, alt="Image Title")
              else     
                .carousel-item
                  h2= JSON.stringify(val.title)
                  h3='Created by ' + JSON.stringify(val.creator) + '('+ JSON.stringify(val.year) +')'
                  h3= 'game ID: ' + JSON.stringify(val.id)
                  img.d-block.w-100(src=val.url, alt="Image Title")

      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

.form-container(style ='width: 550px; height: 200px; margin: 0 auto; position:relative; top: 150px;')      
  form(id = "form-game", method = "post" style = 'width: 300px;margin: 0 auto; position:relative; top: 20px;')
    p Enter the ID of the game you want to update
    input.form-control(id = 'id' type='json', placeholder='Film ID' name='film[id]')
    button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit    